{% extends "home/home.html" %}

{% block css %}
<style>
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 3px;
        padding-left: 3px;
    }
</style>
{% endblock %}

{% block content %}
<!--导入导航栏-->
{% include "home/menu.html" %}
<!--导入导航栏-->

<div class="col-md-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;学生中心</h3>
        </div>
        <div class="panel-body">
            <form role="form" method="post" enctype="multipart/form-data">
                <fieldset>
                    <input type="file" multiple = "" name="file[]" style="margin-top:20px;"/>
                    <br>
                    {% for file in filenames %}
                    {{file}}
                    {% endfor %}
                    <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
                    <div class="form-group">
                        {% if lenth != 0 %}
                            {% for index in range(1,lenth) %}
                                <img src="{{ url_for('static', filename='uploads/users/'+user.face+'/'+names[index]+'.jpg') }}"
                                     width="200" height="200" class="img-responsive img-rounded"/>
                                <br>
                            {% endfor %}
                        {% endif %}

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#m-2").addClass("active");
    });
</script>
{% endblock %}
